<launch>
	<!-- <param name="/use_sim_time" value="true"/> <node name="rviz" pkg="rviz" 
		type="rviz"/> -->
	<!-- node pkg="tf" type="static_transform_publisher" name="map_broadcaster" 
		args="0 0 0 0 0 0 /world /map 30" output="screen" / -->
	<!-- node pkg="webcam" type="webcam" name="webcam_test"/ -->
	<node name="mono_odometer" pkg="mono_odometer" type="mono_odometer"
		output="screen">
		
		<param name="CAMERA_MATRIX_PATH"
			value="/home/nishitani/Dropbox/usp/ros/mono_odometer/calib/camera_left.yaml" />
		<param name="INPUT_IMAGE_TOPIC" value="/StereoCam/imageLeft" />
		<!-- param name="FEATURE_IMAGE_TOPIC" value="image/feature" / -->
		<!-- param name="MATCHES_IMAGE_TOPIC" value="image/matches" / -->
		
	</node>

</launch>
